@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scrollbar-thumb: #31533f;
  --scrollbar-thumb-hover: #1f382b;
  --scrollbar-track: #f7f4ec;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #31533f, #1f382b);
  border-radius: 999px;
  border: 53px solid var(--scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3f684f, #31533f);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Możesz to usunąć, jeśli nie chcesz automatycznego dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --scrollbar-track: #102018;
  }
}

html,
body {
  max-width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}